---
name: Tado Auto Assist (Edge)
version: 2.1.1-dev-2d29279
slug: tado_aa
description: Tado Auto-Assist for Geofencing and open Window detection
url: https://github.com/FaserF/hassio-addons/tree/master/tado_aa
arch:
  - aarch64
  - amd64
init: false
options:
  username: ""
  password: ""
  minTemp: 5
  maxTemp: 25
  log_level: info
schema:
  username: str
  password: password
  minTemp: int
  maxTemp: int
  log_level: list(info|minimal)?
